<a href="https://colab.research.google.com/github/Balla01/EV_SEGMENATAION/blob/main/EV_data_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/bikewala.csv')

In [ ]:
df

,review,Used it for,Owned for,Ridden for,rating,Visual Appeal,Reliability,Performance,Service Experience,Extra Features,Comfort,Maintenance cost,Value for Money,Model Name
0,We all checked the bike's capacity to be 150 k...,Daily Commute,Never owned,NaN,1,3.0,4.0,NaN,NaN,NaN,4.0,NaN,1.0,TVS iQube
1,Performance is very poor on this bike. The cha...,Everything,> 1 yr,< 5000 kms,1,3.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,TVS iQube
2,I purchased this in April 2022 and the sales s...,Daily Commute,< 3 months,< 5000 kms,3,4.0,4.0,NaN,2.0,NaN,5.0,NaN,2.0,TVS iQube
3,If any issues come in scooty parts not availab...,Daily Commute,6 months-1 yr,5000-10000 kms,1,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,TVS iQube
4,Don't buy this vehicle unless you have a near ...,Daily Commute,6 months-1 yr,< 5000 kms,1,3.0,4.0,NaN,1.0,NaN,3.0,NaN,2.0,TVS iQube
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,Scooty is ok but 250 motor power is less. So t...,Daily Commute,> 1 yr,< 5000 kms,2,2.0,2.0,NaN,2.0,NaN,2.0,NaN,3.0,Gemopai Ryder
840,"Superb scooty. good look, Many color options ....",Everything,< 3 months,< 5000 kms,5,5.0,5.0,5.0,5.0,5.0,NaN,5.0,NaN,Gemopai Ryder
841,"Up to 2 years the condition was good,\nAfter 2...",Daily Commute,> 1 yr,5000-10000 kms,2,2.0,2.0,4.0,2.0,3.0,NaN,1.0,NaN,Gemopai Ryder
842,"Compare to other scooters it is a best bike, c...",Daily Commute,3-6 months,< 5000 kms,5,4.0,4.0,NaN,NaN,NaN,4.0,NaN,5.0,Gemopai Ryder
843,This bike is good as this segment. can use the...,Daily Commute,3-6 months,> 15000 kms,4,3.0,4.0,NaN,4.0,NaN,4.0,NaN,4.0,Gemopai Ryder

In [ ]:
df.dtypes

review                 object
Used it for            object
Owned for              object
Ridden for             object
rating                  int64
Visual Appeal         float64
Reliability           float64
Performance           float64
Service Experience    float64
Extra Features        float64
Comfort               float64
Maintenance cost      float64
Value for Money       float64
Model Name             object
dtype: object

In [ ]:
df = df.astype({"Ridden for": str})

In [ ]:
df1

,review,Used it for,Owned for,Ridden for,rating,Visual Appeal,Reliability,Performance,Service Experience,Extra Features,Comfort,Maintenance cost,Value for Money,Model Name
1,Performance is very poor on this bike. The cha...,Everything,> 1 yr,5000,1,3.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,TVS iQube
2,I purchased this in April 2022 and the sales s...,Daily Commute,< 3 months,5000,3,4.0,4.0,NaN,2.0,NaN,5.0,NaN,2.0,TVS iQube
3,If any issues come in scooty parts not availab...,Daily Commute,6 months-1 yr,7500,1,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,TVS iQube
4,Don't buy this vehicle unless you have a near ...,Daily Commute,6 months-1 yr,5000,1,3.0,4.0,NaN,1.0,NaN,3.0,NaN,2.0,TVS iQube
5,First 7k kms no issues.\nLater rear wheel had ...,Daily Commute,> 1 yr,7500,1,5.0,1.0,NaN,1.0,NaN,5.0,NaN,2.0,TVS iQube
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,This bike build quality is average. Mileage is...,Daily Commute,< 3 months,5000,5,3.0,5.0,NaN,2.0,NaN,4.0,NaN,1.0,e-bike Gen Nxt
839,Scooty is ok but 250 motor power is less. So t...,Daily Commute,> 1 yr,5000,2,2.0,2.0,NaN,2.0,NaN,2.0,NaN,3.0,Gemopai Ryder
840,"Superb scooty. good look, Many color options ....",Everything,< 3 months,5000,5,5.0,5.0,5.0,5.0,5.0,NaN,5.0,NaN,Gemopai Ryder
841,"Up to 2 years the condition was good,\nAfter 2...",Daily Commute,> 1 yr,7500,2,2.0,2.0,4.0,2.0,3.0,NaN,1.0,NaN,Gemopai Ryder
842,"Compare to other scooters it is a best bike, c...",Daily Commute,3-6 months,5000,5,4.0,4.0,NaN,NaN,NaN,4.0,NaN,5.0,Gemopai Ryder

In [ ]:
from numpy import NaN
for i in range(844):
  if df['Ridden for'][i]=='> 15000 kms':
    df['Ridden for'][i]=NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df1 = df.dropna(subset=['Ridden for'])

In [ ]:
df2=df1 10000-15000 kms

In [ ]:
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Ridden for'][i]=='10000-15000 kms':
      df1['Ridden for'][i]=12500
  except:
    b=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Visual Appeal'][i] not in a:
      df1['Visual Appeal'][i]=df1['rating'][i]
      
  except:
    b=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Service Experience'][i] not in a:
      df1['Service Experience'][i]=df1['rating'][i]
      
  except:
    b=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Comfort'][i] not in a:
      df1['Comfort'][i]=(df1['Visual Appeal'][i]+df1['Reliability'][i]+df1['Performance'][i]+df1['Service Experience'][i])//4
      
  except:
    b=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
print(df1.isnull().sum())

review                 30
Used it for             0
Owned for               0
Ridden for              0
rating                  0
Visual Appeal           0
Reliability             0
Performance             0
Service Experience      0
Extra Features        481
Comfort                 0
Maintenance cost      486
Value for Money       314
Model Name              0
dtype: int64

In [ ]:
df3=df1[['Used it for','Ridden for','rating','Visual Appeal','Reliability','Performance','Service Experience','Comfort','Model Name']]

In [ ]:
df3.to_csv('BikeWala_preprocessed01.csv')